<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Practice</title>
</head>

<body>
    <h1>The Home Page <%= 4 + 5 + 1 %>
            <%= 'hello world' .toUpperCase() %>
    </h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio amet soluta dolorem suscipit numquam ab provident
        nostrum, consequatur aliquid explicabo animi nobis fugiat quidem accusamus repudiandae expedita commodi
        assumenda inventore.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, ipsa eveniet accusantium consectetur, officiis
        omnis quaerat nobis voluptate ratione neque repudiandae. Exercitationem incidunt laboriosam fugit, quasi iste
        mollitia maxime doloremque?</p>
</body>

</html>