<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>

<body>
    <h1>hello, we're learning EJS</h1>
    <h2>about us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus suscipit, delectus inventore in a ratione,
        illo non dolores ea rem accusamus fuga, vel sapiente reprehenderit animi praesentium temporibus eius maxime!</p>
</body>

</html>